nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid #f3f3f3;
    padding: 1.5rem;
    margin-left: 2rem;
    z-index: 999;
}

input{
    padding: 10px 20px;
    border: none;
    background: #f7f6f6;
    outline: none;
    margin-right: 20px;
    border-radius: 7px;
    position: relative;
    width: 14rem;
}

.nav-icons{
    width: 2rem;
    height: 2rem;
    margin-left: 1.5rem;
    color:#494949
}
